<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Prix imbattables, délais de livraison très correct, Site à recommander.</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <p>9,2*/10</p>
      <div class="petit"><p>37538 *6mois</p></div>
      <div class="petit"><p>avis clients Flanet</p></div>
      <p>Nos clients sont satisfaits :</p>
      <img src="" alt="* * * * *">
    </div>
    <div class="col-xs-3">
      <p>1700</p>
      <p>centres de montage</p>
    </div>
    <div class="col-xs-3">
      <p>Pièces</p>
      <p>neuves & d'origines</p>
    </div>
    <div class="col-xs-3">
      <p>Paiement</p>
      <p>100% sécurisé</p>
    </div>
  </div>
</div>
