<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <p>Les GRANDES MARQUES <br> nous font CONFIANCE :</p>
    </div>
    <div class="col-xs-2"><img src="./app/img/thule-logo.png" alt=""></div>
    <div class="col-xs-2"><img src="./app/img/logo-valeo.png" alt=""></div>
    <div class="col-xs-2"><img src="./app/img/bosch-logo.png" alt=""></div>
    <div class="col-xs-2"><img src="./app/img/trw-logo.png" alt=""></div>
    <div class="col-xs-2"><img src="./app/img/bosal-logo.png" alt=""></div>
  </div>
  <div class="row">
    <div class="col-xs-2">
      <p>Ils parlent de NOUS</p>
    </div>
    <div class="col-xs-2"><img src="./app/img/tf1-logo.png" alt=""></div>
    <div class="col-xs-2"><img src="./app/img/france2-logo.png" alt=""></div>
    <div class="col-xs-2"><img src="./app/img/m6-logo.png" alt=""></div>
    <div class="col-xs-2"><img src="./app/img/bfm-logo.png" alt=""></div>
    <div class="col-xs-2"><img src="./app/img/rmc-logo.png" alt=""></div>
  </div>
</div>
